@import url('https://fonts.cdnfonts.com/css/license-plate-usa');

* {
  margin: 0;
  font-family: 'LICENSE PLATE USA', sans-serif;
  overflow: hidden;
}

h1 {
  color: white;
  margin: 10px;
  text-align: center;
  padding: 20px;
  font-size: 3rem;
}

body {
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  background-color: #202020;
  height: 100vh;
  width: 60vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.placa {
  background-color: gold;
  width: 50vw;
  height: 15vh;
  border: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  /* margin: 20px; */
  position: relative;
  padding: 30px;
  margin: 30px;
}

.placa-in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transform: scaleY(1.2);
  font-weight: 600;
  text-align: center;
  font-size: 100px;
  letter-spacing: 20px;
}

.placa-in-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scaleY(1.2);
  font-weight: 600;
  text-align: center;
  font-size: 100px;
  width: 100%;
  letter-spacing: 20px;
}


form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
}

input {
  text-align: center;
}

.btn {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #000000;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 14px 24px 16px;
  /* margin: 10px; */
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  text-align: center;
  width: 280px;
  margin: 10px auto;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:focus {
  border: 1px solid gold;
}

.myInputs {
  display: flex;
  justify-content: center;
  align-items: center;
}


input {
  padding: 6px 12px;
  margin: 10px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 25px;
  color: rgb(247, 248, 248);
  height: 46px;
  appearance: none;
  transition: border 0.15s ease 0s;
}

input:focus {
  outline: none;
  box-shadow: none;
  border-color: gold;
}

*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media screen and (max-width: 576px) {

  h1 {
    font-size: 2rem;

  }

  .container {
    width: 100vw;
    justify-content: flex-start;
    margin: 10px 0px;
  }

  .placa {
    display: flex;
    min-width: 80vw;
    height: 80px;
    margin: 20px 0px;
  }

  form {
    width: 100vw;
  }

  .placa-in {
    font-size: 50px;
    transform: scaleY(1.2);
  }

  .placa-in-2 {
    font-size: 50px;
    transform: scaleY(1.2);
  }

  .myInputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}
